$main-gap: 20px;

.cv-main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header" "personal details" "agree agree";
  grid-template-columns: 320px 1fr;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.cv-header {
  grid-area: header;
  padding: $main-gap;
  text-align: center;
  height: auto;
  background-color: #85b3d1;
  color: white;
  display: grid;
  grid-template-areas: "header-1 header-2";
  grid-template-columns: 1fr 2fr;
  font-size: 24px;

  .header-1 {
    grid-area: header-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cv-photo {
    grid-area: header-1;
    width: 100%;
    max-width: 280px;
    margin-top: $main-gap;
    margin-bottom: $main-gap;
    border-radius: 50%;
    align-self: center;
  }
}

.cv-personal {
  grid-area: personal;
  padding: $main-gap;
  background-color: #cfe8fd;
  text-align: left;
  height: auto;
}

.cv-details {
  grid-area: details;
  padding: $main-gap;
  text-align: left;
  background-color: #fafafa;

  .sumText {
    text-align: justify;
  }

  .details-experience {
    list-style-type: none;
  }

  ul {
    margin-bottom: 25px;
  }
}

.cv-agree {
  grid-area: agree;
  height: auto;
  background-color: #fafafa;
  text-align: left;
}
